.selecao mat-checkbox {
    margin: 0em 0.5em;
}

.selecao .mat-option-text {
    text-transform: capitalize;
}

.impressao {
    line-height: 1em;
    font-size: 0.75em;
}

.groupContext,
.magia {
    column-fill: auto;
}

@media (orientation: landscape) {
    .groupContext {
        column-count: 4;
    }
    .groupContext {
        column-count: 4;
    }
    .magia {
        column-count: 3;
    }
}

@media (orientation: portrait) {
    .groupContext {
        column-count: 3;
    }
    .magia {
        column-count: 2;
    }
}

.impressao .head {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}

.impressao .magia .tabela {
    text-align: left;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.impressao .magia .tabela > span {
    width: 2.5em;
    text-align: center;
    border-left: 1px solid black;
}

.impressao .magia .tabela > span:first-of-type {
    text-align: left;
    flex-grow: 1;
    border-left: none;
}

table tr td {
    border-bottom: 1px solid gray;
}

.impressao .check {
    position: relative;
}

.impressao .check > *:first-child {
    padding-left: calc(1em + 5px);
}

.impressao .check:before {
    content: "";
    display: inline-flex;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
}

.impressao .descricao {
    white-space: pre-wrap;
}

.impressao .bold {
    font-weight: bold;
}

.impressao .italic {
    font-style: italic;
    line-height: 1.1em;
}

.impressao .justify {
    text-align: justify;
}

.impressao .breakBefore {
    page-break-before: always;
}

@media print {
    .main-content,
    .col-12 {
        padding: 0px;
    }

    .card {
        margin: 0px;
    }

    .selecao {
        display: none;
    }
}