<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 selecao">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dados</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-3" *ngIf="false">
                                <mat-form-field>
                                    <mat-label>Raça</mat-label>
                                    <mat-select [(value)]="selectedRace">
                                        <mat-option *ngFor="let race of races" [value]="race">{{race.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <mat-form-field>
                                    <mat-label>Arquétipo</mat-label>
                                    <mat-select [(value)]="selectedArchetype" (selectionChange)="changeArchetype($event)">
                                        <mat-option *ngFor="let archetype of archetypes" [value]="archetype">{{archetype.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <mat-form-field>
                                    <mat-label>Primeira Carreira</mat-label>
                                    <mat-select [(value)]="firstCareer" (selectionChange)="changeCareer($event)">
                                        <mat-option *ngFor="let career of careers" [value]="career">{{career.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <mat-form-field>
                                    <mat-label>Segunda Carreira</mat-label>
                                    <mat-select [(value)]="secondCareer" (selectionChange)="changeCareer($event)">
                                        <mat-option *ngFor="let career of careers" [value]="career">{{career.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="display: inline-flex">
                                <mat-checkbox [(ngModel)]="breakBefore">Agrupamentos em linhas diferentes</mat-checkbox>
                                <mat-checkbox [(ngModel)]="justify">Justificar Texto</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button mat-mini-fab color="primary" onclick="print()">
                                    <mat-icon>print</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="geral">
                    <div class="group" [ngClass]="{'breakBefore': breakBefore}" *ngIf="archetypeBenefitList">
                        <table>
                            <thead>
                                <div class="head">Arquétipo: {{selectedArchetype.name}}</div>
                            </thead>
                            <div class="block descricao" [ngClass]="{'justify': justify}">{{selectedArchetype.description}}</div>
                            <div class="block beneficio" *ngFor="let benefit of archetypeBenefitList">
                                <div class="check">{{benefit.name}}</div>
                                <div class="descricao" [ngClass]="{'justify': justify}">{{benefit.description}}</div>
                            </div>
                        </table>
                    </div>
                    <div class="group" [ngClass]="{'breakBefore': breakBefore}" *ngIf="habilityList">
                        <table>
                            <thead>
                                <div class="head">Habilidades</div>
                            </thead>
                            <div class='block habilidade' *ngFor="let hability of habilityList">
                                <div class='check'>{{hability.name}}</div>
                                <div class='italic' *ngIf="hability.requirement"><span class="bold">Pré-Requisito: </span>{{hability.requirement}}</div>
                                <div class='descricao' [ngClass]="{'justify': justify}">{{hability.description}}</div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
