.selecao mat-checkbox {
    margin: 0em 0.5em;
}

.selecao mat-option {
    text-transform: capitalize;
}

.geral {
    line-height: 1em;
    font-size: 0.75em;
    /* column-gap: 0.5em; */
}

@media (orientation: landscape) {
    .geral {
        column-count: 4;
    }
}

@media (orientation: portrait) {
    .geral {
        column-count: 3;
    }
}

.geral .head {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}

.geral .block {
    page-break-inside: avoid;
}

.geral .block:after {
    content: "";
    height: 1px;
    width: 95%;
    display: block;
    border-top: 1px solid darkgray;
    margin: 0.25em auto;
}

.geral .descricao {
    white-space: pre-wrap;
    text-transform: capitalize;
}

.geral .check {
    text-transform: uppercase;
    font-weight: bold;
}

.geral .check:before {
    content: "";
    display: inline-flex;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    top: 0.08em;
}

.geral .bold {
    font-weight: bold;
}

.geral .italic {
    font-style: italic;
    line-height: 1.1em;
}

.geral .justify {
    text-align: justify;
}

.geral .breakBefore {
    page-break-before: always;
}

@media print {
    .main-content,
    .col-12 {
        padding: 0px;
    }

    .card {
        margin: 0px;
    }

    .selecao {
        display: none;
    }
}